<script type="text/ng-template" id="editor.document.html">

    <div class="row">
        <div class="col-md-8">
            <h2>{{vm.document.name}}</h2>
        </div>
        <div class="col-md-4">
            <h4>Caret position: {{caretPosition.get}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="editor">
                <textarea id="editor" class="form-control input-lg" rows="10" ng-bind="vm.text.str" e-caret="caretPosition"></textarea>
                <div class="carets" ng-repeat="(id, data) in vm.collaborators">
                    <div e-input-element="#editor"
                         e-input-caret="data.caret"
                         e-caret-name="{{data.name}}"
                         e-caret-color="{{data.color}}" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="nopadding">Collaborators</h3>
            <div ng-repeat="(id, data) in vm.collaborators">
                <div class="bs-callout" ng-style="{'border-left-color': data.color}">
                    <h5>{{data.name}}</h5>
                </div>
            </div>
        </div>
    </div>

</script>