<script type="text/ng-template" id="editor.document.html">

    <div class="row ng-hide animate-show" ng-show="!vm.isLoading">
        <div class="col-md-12">
            <a href="#" class="document-name" title="Rename document" ng-click="vm.showRenameDialog()">
                <h2>{{vm.document.name}}</h2>
            </a>
        </div>
    </div>

    <div class="row animate-show" ng-show="!vm.isLoading">
        <div class="col-md-8">
            <form class="editor">
                <textarea id="editor" rows="10"
                          class="form-control input-lg msd-elastic"
                          e-caret="vm.caret"
                          ng-cut="vm.cut($event)"
                          ng-paste="vm.paste($event)"
                          ng-keypress="vm.keypress($event)"
                          ng-keydown="vm.keydown($event)"
                          ng-model="vm.text"></textarea>
                <div class="carets" ng-repeat="(id, data) in vm.collaborators">
                    <div e-input-element="#editor"
                         e-input-caret="data.caretPosition"
                         e-caret-name="{{data.userId}}"
                         e-caret-color="{{data.color}}" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="nopadding">Collaborators</h3>
            <div ng-repeat="(id, data) in vm.collaborators">
                <div class="bs-callout"
                     ng-style="{'border-left-color': data.color, }"
                     ng-class="{'alert-warning': vm.connectionId == data.connectionId}">
                    <h5>{{data.userId}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.isLoading">
        <div class="loader center-block">Loading...</div>
    </div>

</script>