<script type="text/ng-template" id="editor.home.html">
    
    <div class="jumbotron">
        <h1>Web Text Editor</h1>
        <p class="lead">
            Web Text Editor is an application for collaborative text editing.
            It built on top of ASP.NET framework and uses CRDT for resolving conflicting changes between contributors.
        </p>
        <p>
            <a href="" ng-click="vm.addDocument()" class="btn btn-primary btn-lg">New Document &raquo;</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Server-side</h2>
            <p>Apllication server powered by ASP.NET and uses following framework parts:</p>
            <ul>
                <li>MVC - for static content delivery.</li>
                <li>Web API - for RESTful data endpoints.</li>
                <li>SignalR - for real-time communication.</li>
            </ul>
            <p>
                <a class="btn btn-default" href="http://www.asp.net">More about ASP.NET &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Client-side</h2>
            <p>Client-side implemented as a Single Page Application (SPA) by leveraging AngularJS framework.</p>
            <p>To provide responsible front-end user interface used Twitter Bootstrap framework.</p>
            <p>
                <a class="btn btn-default" href="https://angularjs.org/">More about AngularJS &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>CRDT</h2>
            <p>Conflict-free Replicated Data Types (CRDTs) belongs to optimistic replication.</p>
            <p>Apllication uses Logoot CRDT with modifications from CF-Seq/LSEQ, which use operation-based replication.</p>
            <p>They use immutable data types (atoms) with identifiers and two operations: insert and delete.</p>
            <p>
                <a class="btn btn-default" href="http://www.loria.fr/~oster/pmwiki/uploads/Main/CF-Seq-report.pdf">More about CRDT &raquo;</a>
            </p>
        </div>
    </div>

</script>