@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("logOff", "account", new {area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "index", "manage", new {area = ""}, new {title = "Manage", target = "_self"})
            </li>
            <li>
                <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "register", "account", new {area = ""}, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "login", "account", new {area = ""}, new {id = "loginLink"})</li>
    </ul>
}